@import 'core/scss/index.scss';

.material-insert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: $basic-black;

  .base-info {
    flex: 0 0 30%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    padding: 16px;

    .base-content {
      border: 1px solid $default-border;
      border-radius: $default-border-radius;
      padding: 16px;
    }
  }

  .material-list {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 0;

    .inserted-list, .available-list {
      flex: 0 0 50%;
      max-height: 300px;
      display: flex;
      flex-direction: column;
    }
  }

  .base-header, .available-header, .inserted-header {
    flex: 0 0 58px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    font-size: 28px;
    align-items: flex-end;

    .button-group {
      flex: 1 1 48px;
      text-align: right;
      box-sizing: border-box;
    }
  }

  .base-content, .available-content, .inserted-content {
    flex: 1 1 auto;
    display: flex;
    box-sizing: border-box;

    &.row {
      flex-direction: row;
      max-height: 250px;
    }

    &.column {
      flex-direction: column;
    }

    .lts-slide {
      padding: 0;

      /deep/
      .horizontal-controls {
        padding: 0;

        &:first-child {
          padding-right: 16px;
        }

        &:last-child {
          padding-left: 16px;
        }
      }

      /deep/
      .touch-container {
        overflow: initial;
      }
    }
  }

  .material-toolbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
}

.barcode-input-wrapper {
  position: relative;

  .barcode-input {
    width: 180px;
    height: 48px;
    padding: 0 16px 0 44px;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
  }

  .barcode-icon {
    position: absolute;
    z-index: 1;
    left: 8px;
    width: 24px;
    margin: 16px 8px;
    opacity: 0.36;
  }
}
