.material {
  display: flex;
  flex-direction: column;
  height: 100%;

  .material-container {
    flex: 1 1 auto;
    .material-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .material-content__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header__title {
          font-size: 24px;
          font-weight: bold;
        }
        .header__legend {
          &::after {
            content: ' ';
            width: 1px;
            margin-left: 10px;
            border: 2px solid red;
          }
        }
      }
      .material-content__body {
        padding: 16px 0 16px 16px;
      }
    }
  }
}
