.not-work {
  display: flex;
  flex-direction: column;
  height: 100%;
  .not-work-container {
    flex: 1 1 auto;
    padding: 8px;
    .not-work-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .not-work-content__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header__title {
          font-size: 24px;
          font-weight: bold;
        }
      }
      .not-work-content__body {
        padding: 16px 0 16px 16px;
      }
    }
  }
}
