@import 'core/scss/index.scss';
.user-group {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  height: 100%;
  background-color: $default-button-bg;
  .group-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    color: $basic-color;
    &:hover {
      color: $default-button-color;
      background-color: $default-hover-bg;
      cursor: pointer;
    }
  }
}