@import 'src/core/scss/index.scss';

.choose-menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .card-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 40px;

    .department-row {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &:first-child {
        margin-bottom: 20px;
      }

      .department-card {
        flex: 0 1 25%;
        border: 1px solid $basic-border;
        border-radius: $default-border-radius;

        &:first-child {
          margin-right: 20px;
        }

        .link-wrapper {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          font-size: 28px;
          color: $basic-black;

          &:hover {
            color: #3b5bdb;
          }
        }
      }
    }
  }
}