@import 'core/scss/index.scss';

.user-password {
  width: 100%;
  height: 100%;

  .user-password--default-display {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    font: {
      size: 35px;
    }
    border: 1px solid $default-border;
  }

  .user-password--main-display {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    .user-info {
      flex: 1 0 auto;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      color: $default-color;
    }

    .password-wrapper {
      flex: 1 0 auto;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      .password {
        width: 96px;
        height: 96px;
        border: 1px solid #dd4c39;
        &:not(:first-child) {
          margin-left: 24px;
        }
      }
    }
  }
}