@import 'core/scss/index.scss';

.user-switch-wrapper {
  user-select: none;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  .user-switch {
    width: 70vw;
    height: 90vh;

    .user-switch--container {
      display: flex;
      flex: 0 0 auto;
      flex-direction: row;
      height: 100%;
      border: 1px solid $default-border;

      @media screen and (max-width: 1000px) {
        flex-direction: column;
      }

      .user-switch-content--wrapper {
        flex: 2;
        height: 100%;

        .user-switch-content-group--wrapper {
          width: 100%;
          height: 123px;
        }

        .user-switch-content-list---wrapper {
          padding: 16px;
        }
      }

      .user-switch-password--wrapper {
        display: flex;
        flex-direction: column;
        flex: 2;
        height: 100%;

        .user-switch-password-display--wrapper {
          flex: 3;
        }

        .user-switch-password-keypad--wrapper {
          flex: 7;
        }
      }
    }
  }
}
