@import "core/scss/index.scss";

.header {
  display: flex;
  flex-direction: row;

  .logo-wrapper {
    flex: 0 0 200px;
    text-align: center;
    border-right: 1px solid $default-border;
    box-sizing: border-box;
    padding: 8px;
    font-size: 48px;
    font-weight: 900;
    background: url("https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png") no-repeat scroll 50% 50%/50% auto;
  }

  .machine-list-wrapper {
    flex: 1 1 auto;
  }
}