@import 'src/core/scss/index.scss';

.left-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;

  .navigation-button-wrapper {
    width: 100%;
    height: 64px;
    .navigation-button-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      height: 100%;

      &:link {
        text-decoration: none;
        color: #000;
      }

      &:visited {
        text-decoration: none;
        color: #000;
      }

      &:hover {
        text-decoration: none;
        color: #000;
      }

      .navigation-button {
      }
    }
  }
}