.color-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  &:hover {
    background: #e3fafc;
  }
  .color-select-title {
    flex: 1;
    text-align: center;
    align-items: center;
  }
  .color-select-contents {
    display: flex;
    flex: 2;

    .color-button {
        cursor: pointer;
    }
  }
}
