$basic-color: #fff;
$basic-black: #343a40;
$basic-border: #d6d6d6;
$primary-color: #607fd7;

/**
button
 */
$default-button-bg: #222222;
$default-hover-bg: rgba(0, 0, 0, .05);
$default-button-color: #dd4c39;

$default-border-radius: 8px;